# Database
POSTGRES_USER=makiti
POSTGRES_PASSWORD=change_in_production
POSTGRES_DB=makiti_db

# Backend
NODE_ENV=staging
JWT_SECRET=change_in_production
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Africa's Talking
AT_API_KEY=
AT_USERNAME=

# URLs
FRONTEND_URL=http://localhost
NEXT_PUBLIC_API_URL=http://localhost/api/v1