# App
NODE_ENV=development
PORT=3001

# Database
DATABASE_URL="your_database_url"

# JWT
JWT_SECRET=change_this_secret_in_production
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME= "your_cloudinary_cloud_name"
CLOUDINARY_API_KEY= "your_cloudinary_api_key"
CLOUDINARY_API_SECRET= "your_cloudinary_secret_api"

# Africastalking
AT_API_KEY
AT_USERNAME

# Admin
ADMIN_EMAIL=
ADMIN_PHONE=
ADMIN_PASSWORD=

# Sentry
SENTRY_DSN=your_sentry_dsn